<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="normal/base::layout(~{::section})">
	<head>
		<meta charset="UTF-8" />
		<title th:text="${title}"></title>
	</head>
	<body>
		<section>
		
		<div class="card mr-4">
			<div class="card-body">
			
				<h1 class="text-center">Your Contacts</h1>
				<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#ID</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${contacts}">
							<th scope="row" th:text="${'SCM'+c.cid}"></th>
							<td th:text="${c.name}"></td>
							<td th:text="${c.email}"></td>
							<td th:text="${c.phone}"></td>
							
							<td>
									<a  th:href="@{/user/update-contact/}+${c.cid}" class="btn btn-info btn-sm">Update</a>
									<a th:onclick="|deleteContact(${c.cid})|"  class="btn btn-danger btn-sm">Delete</a>
									
							</td>
							
						</tr>
						
  					</tbody>
				</table>
				</div>
			
			
<!-- PAGINATION -->			
				<nav aria-label="Page navigation example">
  					<ul class="pagination">
   						 <li th:if="${currentPage-1}>= 0" class="page-item"><a th:href="@{/user/view-contact/}+${currentPage-1}" class="page-link" href="#">Previous</a></li>
  						 
  						 <li  th:classappend="${currentPage==p-1?'active':''}" th:each="p: ${#numbers.sequence(1, totalPages)}" class="page-item">
  						 	<a  th:href="@{/user/view-contact/}+${p-1}" class="page-link" href="#" th:text="${p}"></a>
  						 </li>
   						 
    					 <li  th:if="${currentPage+1}< ${totalPages}" class="page-item"><a th:href="@{/user/view-contact/}+${currentPage+1}" class="page-link" href="#">Next</a></li>
 					 </ul>
				</nav>
<!-- PAGINATION -->			
			
			
			</div>
		</div>
		
		<script>
				$(document).ready(()=> {
					$(".item").removeClass("active");
					$('#viewContacts-link').addClass("active");
				}	);
			</script>
		
		</section>
	
		
	</body>
</html>